<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trailsi.kvinnokarta.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.trailsi.kvinnokarta.android.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.trailsi.kvinnokarta.android.view.activity.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.trailsi.kvinnokarta.android.view.activity.choose.ChooseLanguageActivity" />
        <activity android:name="com.trailsi.kvinnokarta.android.view.activity.choose.ChooseAudioTourActivity" />
        <activity android:name="com.trailsi.kvinnokarta.android.view.activity.main.MainActivity" />
        <activity android:name="com.trailsi.kvinnokarta.android.view.activity.aboutus.AboutUsActivity" />

        <service
            android:name="com.trailsi.kvinnokarta.android.controller.service.SyncService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.trailsi.kvinnokarta.android.controller.service.TempForegroundService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.trailsi.kvinnokarta.android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3497718794369186~5196556559"/>



    </application>

</manifest>